@charset 'UTF-8';

* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    z-index: 999;
    transition: 0.3s;
}
header > h1 {
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 5.5vh;
    margin-left: 7vw;
    line-height: 8vh;
    color: #fff;
}
header > h1 > a {
    display: block;
    text-decoration: none;
    color: #fff;
}
header > ul {
    float: right;
    width: 50vw;
    height: inherit;
}
header > ul > li {
    float: left;
    width: 10vw;
    height: inherit;
    text-align: center;
    line-height: 8vh;
    transition: 0.5s;
}
header > ul > li:hover {
    background: rgba(0, 0, 0, 0.8);
}
header > ul > li > a {
    color: #000;
    font-size: 1.9vh;
    font-family: 'Russo One';
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.1vw;
    display: block;
}

#int {
    width: 100vw;
    height: 87vh;
    position: relative;
    overflow: hidden;
}
#int > #train {
    width: 500vw;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
}
#int > #train > img {
    float: left;
    width: 100vw;
    height: inherit;
}
#pro {
    width: 100vw;
    height: 55vh;
    background: #f1f1f1;
}
#pro > div {
    width: 60vw;
    height: inherit;
    margin: 0 auto;
    position: relative;
}
@font-face {
    font-family: "dohyun";
    src: url(./font/BMDOHYEON_ttf.ttf);
}
#pro > div > p {
    text-align: center;
    font-size: 4vh;
    letter-spacing: 0.2vw;
    padding-top: 11vh;
    font-family: "dohyun";
    position: relative;
}
#pro > div > p::after {
    display: block;
    content: "";
    clear: both;
    width: 11.5vw;
    height: 0.2vh;
    background: rgb(177, 177, 177);
    position: absolute;
    bottom: 0;
    left: 40%;
}
#pro > div > img {
    width: 10vw;
    height: 20vh;
    margin-top: 9%;
    margin-left: 20%;
}
#pro > div > h1  {
    display: inline-block;
    position: absolute;
    font-size: 2vh;
    text-align: center;
    font-family: 'Russo One';
    font-weight: 500;
}
#pro > div > span {
    display: inline-block;
    position: absolute;
    font-size: 1.8vh;
    text-align: center;
    font-family: "나눔바른고딕";
    font-weight: 400;
}

#pro > div > #name { 
    top: 55%;
    left: 40%;
}
#pro > div > #name1 {
    left: 50%;
    top: 55.5%;
}
#pro > div > #mail {
    left: 40%;
    top: 65%;
}
#pro > div > #mail1 {
    left: 50%;
    top: 65.5%;
}
#pro > div > #birth {
    left: 40%;
    top: 75%;
}
#pro > div > #birth1 {
    left: 50%;
    top: 75.5%;
}
#por {
    width: 100%;
    background: #e8e8e8;
}
#por > p {
    width: 100%;
    text-align: center;
    font-size: 4vh;
    letter-spacing: 0.2vw;
    padding-top: 12vh;
    font-family: "dohyun";
    position: relative;
}
#por > p::after {
    display: block;
    content: "";
    clear: both;
    width: 15.3vw;
    height: 0.2vh;
    background: rgb(177, 177, 177);
    position: absolute;
    bottom: 0;
    left: 42%;
}
#por > div {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-top: 12vh;
}
#por > div::after {
    display: block;
    content: "";
    clear: both;
    position: absolute;
    width: 0.3vw;
    height: 100%;
    background:  rgb(138, 138, 138);
    left: 50%;
    top: 0;
}
#por > div > div {
    position: relative;
    width: 47%;
    height: 35vh;
    border: 1px solid red;
}
#por > div > #his1 > p {
    position: absolute;
    right: 1%;
    top: 2%;
    width: 15%;
    font-size: 2.5vh;
    color: #fff;
    text-align: center;
    background: rgb(53, 53, 53);
    z-index: 999;
}
[class^="his1_"] {
    width: 33.32%;
    height: 100%;
    float: left;
    position: relative;
}
#his1::after {
    display: block;
    content: "";
    clear: both;
    position: absolute;
    width: 1.5vw;
    height: 3vh;
    border-radius: 50%;
    background: red;
    z-index: 99999;
    right: -8.7%;
    top: 47%;
}
.his1_1 {
    overflow: hidden;
}
.his1_1 > a {
    display: block;
    width: 100%;
    height: 20%;
    text-align: center;
    line-height: 100%;
    background: #555;
    transition: 0.5s;
    line-height: 5vh;
    font-size: 2vh;
    float: left;
    color: #fff;
}
.his1_1 > a:hover {
    color: #8ac007;
}
#por > div > #his1 > .his1_1 > .effect {
    position: absolute;
	width: 4.8vw;
	height: 0.2vh;
	background: #8ac007;
	transition: 0.7s;
    left: 30%;
    top: -10%;
    pointer-events: none;
}
#por > div > #his1 > .his1_1 > a:nth-child(1):hover ~ .effect {
    top: 11%; 
}
#por > div > #his1 > .his1_1 > a:nth-child(2):hover ~ .effect {
    top: 31%;
}
#por > div > #his1 > .his1_1 > a:nth-child(3):hover ~ .effect {
    top: 51%;
}
#por > div > #his1 > .his1_1 > a:nth-child(4):hover ~ .effect {
    top: 71%;
}
#por > div > #his1 > .his1_1 > a:nth-child(5):hover ~ .effect {
    top: 92%;
}
.his1_2 {
    overflow: hidden;
}
.his1_2 > a {
    display: block;
    width: 100%;
    height: 20%;
    text-align: center;
    line-height: 100%;
    background: #777;
    font-size: 2vh;
    transition: 0.7s;
    line-height: 7vh;
    float: left;
    color: #fff;
}
.his1_2 > a:hover {
    color: #c379ff;
}
.his1_2::after {
    display: block;
    content: "";
    clear: both;
    width: 2px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 20%;
}
.his1_2::before {
    display: block;
    content: "";
    clear: both;
    width: 2px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 80%;
}
.his1_2 > .effect1{
    position: absolute;
    z-index: 999;
    width: 2px;
    height: 20%;
    background: #c379ff;
    left: 20%;
    top: -20%;
    transition: 0.5s;
}
.his1_2 > .effect2 {
    position: absolute;
    z-index: 999;
    width: 2px;
    height: 20%;
    background: #c379ff;
    left: 80%;
    top: -20%;
    transition: 0.5s;
}
#por > div > #his1 > .his1_2 > a:nth-child(1):hover ~ .effect1 {
    top: 0%; 
}
#por > div > #his1 > .his1_2 > a:nth-child(1):hover ~ .effect2 {
    top: 0%; 
}
#por > div > #his1 > .his1_2 > a:nth-child(2):hover ~ .effect1 {
    top: 20%; 
}
#por > div > #his1 > .his1_2 > a:nth-child(2):hover ~ .effect2 {
    top: 20%; 
}
#por > div > #his1 > .his1_2 > a:nth-child(3):hover ~ .effect1 {
    top: 40%; 
}
#por > div > #his1 > .his1_2 > a:nth-child(3):hover ~ .effect2 {
    top: 40%; 
}
#por > div > #his1 > .his1_2 > a:nth-child(4):hover ~ .effect1 {
    top: 60%; 
}
#por > div > #his1 > .his1_2 > a:nth-child(4):hover ~ .effect2 {
    top: 60%; 
}

#por > div > #his1 > .his1_2 > a:nth-child(5):hover ~ .effect1 {
    top: 80%; 
}
#por > div > #his1 > .his1_2 > a:nth-child(5):hover ~ .effect2 {
    top: 80%; 
}
.his1_3 {
    background: red;
    background-image: url(./month1/header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.his1_3 > a {
    display: block;
    width: 100%;
    height: 100%;
}
.his1_3 > #his1_3_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    text-align: center;
    line-height: 35vh;
    color: #fff;
    overflow: hidden;
    font-size: 2vh;
}
.his1_3 > a:hover ~ #his1_3_wrap {
    height: 100%;
    pointer-events: none;
}

#por > div > #his2 > p {
    position: absolute;
    right: 1%;
    top: 2%;
    width: 15%;
    font-size: 2.5vh;
    color: #fff;
    text-align: center;
    background: rgb(53, 53, 53);
    z-index: 999;
}
#his2_1 {
    width: 50%;
    height: inherit;
    background: #999;
    float: left;
}
#his2_1 > a {
    display: block;
    width: 60%;
    height: inherit;
    margin: 0 auto;
}
#his2_1 > a >img {
    width: 100%;
    height: inherit;
    margin: 0 auto;
}
#his2_2 {
    width: 50%;
    height: inherit;
    background: #eee;
    float: left;
}
#his2_2 > a {
    display: block;
    width: 60%;
    height: inherit;
    margin: 0 auto;
}
#his2_2 > a >img {
    width: 100%;
    height: inherit;
    margin: 0 auto;
}



